<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <ul class="navbar">
            <li><a href="/">Classifier</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
    </nav>

    <h1>Dashboard</h1>

    <div id="query-buttons">
        <button id="accuracy-button">Accuracy</button>
        <button id="confusion-button">Confusion</button>
        <button id="models-button">Models</button>

        <div id="sort-dropdowns" hidden>
            <label for="model-select" class="info">Select model </label>
            <select id="model-select">
                <option value="0" selected>All models</option>
            </select>

            <br>

            <label for="sort-by" class="info">Sort by </label>
            <select id="sort-by">
            </select>
            
            <select id="asc-desc">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
            </select>
        </div>
    </div>

    <br>

    <div id="table-container">
        <table id="table"></table>
    </div>

    <div id="display-container">
        <button id="prev" hidden><- Prev</button>
        <div class="info" id="display">Select a button to display results</div>
        <button id="next" hidden>Next -></button>
    </div>

    <br>

    <div>
        <button id="reset-button" hidden>Reset</button>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>