<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Dashboard</h1>

    <div id="buttons">
        <button id="accuracy-button">Accuracy</button>
        <button id="confusion-button">Confusion</button>
    </div>

    <div id="table"></div>

    <div>
        <button id="reset-button">Reset</button>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>