<!DOCTYPE html>
<html>

<head>
    <title>Handwritten Character Classifier</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Character Classifier</h1>

    <canvas id="canvas" width="360" height="360"></canvas>

    <br>

    <button id="clearCanvas-button">Clear</button>
    <button id="predict-button">Submit</button>

    <div id="prediction">Draw a character and click the 'Predict' button.</div>

    <br>

    <div id="feedback" hidden>
        <button id="correct-button">Correct prediction</button>
        <button id="confirmCorrect-button" hidden>Confirm correct?</button>
        <button id="incorrect-button">Incorrect prediction</button>
    </div>

    <div id="incorrect" hidden>
        <label>Enter the correct character: </label>
        <input id="char" type="text" maxlength="1" placeholder="^[0-9A-Za-z]$">
        <button id="submitFeedback-button">Submit feedback</button>
        <button id="cancel-button">Go back</button>
    </div>


    <div id="submitted" hidden>Feedback submitted, thanks!</div>

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>